# **Dependencies**

In [ ]:
import pandas as pd

# **Loading Dataset File**

This dataset is made up of three csv files and their descriptions are provided below.

* goalscorers: goals scored and details about them
* shootouts: resultsof penalty shootouts
* results: results of international matches.

In [ ]:
goalscorers = pd.read_csv('goalscorers.csv')
shootouts = pd.read_csv('shootouts.csv')
results = pd.read_csv('results.csv')

# **Dataset Analysis**

## **Goalscorers**

In [ ]:
goalscorers

,date,home_team,away_team,team,scorer,minute,own_goal,penalty
0,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False
1,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False
2,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False
3,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False
4,1916-07-06,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False
...,...,...,...,...,...,...,...,...
41003,2022-12-18,Argentina,France,Argentina,Ángel Di María,36.0,False,False
41004,2022-12-18,Argentina,France,France,Kylian Mbappé,80.0,False,True
41005,2022-12-18,Argentina,France,France,Kylian Mbappé,81.0,False,False
41006,2022-12-18,Argentina,France,Argentina,Lionel Messi,109.0,False,False
41007,2022-12-18,Argentina,France,France,Kylian Mbappé,118.0,False,True

### **Measures of Central Tendency**

#### **Mode**

In [ ]:
goalscorers[['home_team', 'away_team', 'team', 'scorer', 'minute', 'own_goal', 'penalty']].mode()

  home_team away_team    team             scorer  minute  own_goal  penalty
0    Brazil   Uruguay  Brazil  Cristiano Ronaldo    90.0     False    False

### **Dispersion Measures**

#### **Standard Deviation**

In [ ]:
goalscorers['minute'].std()

26.360859126790118

## **Shootouts**

In [ ]:
shootouts

           date    home_team         away_team       winner
0    1967-08-22        India            Taiwan       Taiwan
1    1971-11-14  South Korea  Vietnam Republic  South Korea
2    1972-05-07  South Korea              Iraq         Iraq
3    1972-05-17     Thailand       South Korea  South Korea
4    1972-05-19     Thailand          Cambodia     Thailand
..          ...          ...               ...          ...
542  2022-12-05        Japan           Croatia      Croatia
543  2022-12-06      Morocco             Spain      Morocco
544  2022-12-09      Croatia            Brazil      Croatia
545  2022-12-09  Netherlands         Argentina    Argentina
546  2022-12-18    Argentina            France    Argentina

[547 rows x 4 columns]

### **Measures of Central Tendency**

#### **Mode**

In [ ]:
shootouts[['home_team', 'away_team', 'winner']].mode()

      home_team away_team     winner
0  South Africa    Uganda  Argentina
1        Zambia       NaN        NaN

### **Dispersion Measures**

#### **Standard Deviation**

As this dataframe does not have numerical values, it is not possible to calculate the standard deviation

## **Results**

In [ ]:
results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44552,2023-03-28,Haiti,Bermuda,3,1,CONCACAF Nations League,San Cristóbal,Dominican Republic,True
44553,2023-03-28,Guyana,Montserrat,0,0,CONCACAF Nations League,Bridgetown,Barbados,True
44554,2023-03-28,Bonaire,Turks and Caicos Islands,1,2,CONCACAF Nations League,Rincon,Bonaire,False
44555,2023-03-28,United States Virgin Islands,Sint Maarten,1,2,CONCACAF Nations League,Saint Croix,United States Virgin Islands,False
44556,2023-03-29,Rwanda,Benin,1,1,African Cup of Nations qualification,Kigali,Rwanda,False

### **Measures of Central Tendency**

#### **Mode**

In [ ]:
results[['home_team', 'away_team', 'home_score', 'away_score', 'tournament', 'city', 'country', 'neutral']].mode()

,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,Brazil,Uruguay,1,0,Friendly,Kuala Lumpur,United States,False

### **Dispersion Measures**

#### **Standard Deviation**

In [ ]:
results[['home_score', 'away_score']].std()

home_score    1.747263
away_score    1.393775
dtype: float64